.edu-section {
    margin-top: 75px;
    margin-bottom: 75px;
}

.edu-h1 {
    color: #0096c7;
    font-weight: 700;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-size: 2.5rem;
}

.edu-header {
    background-color: #01497c;
    color: white;
}

.edu-p {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    max-width: 800px;
}