.intro-section {
    padding-top: 75px;
}

.profile-img {
    height: auto;
    display: block;
    border-radius: 50%;
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
}

.profile-badge{
    background-color: #ade8f4;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 300;
}

.intro-h1 {
    color: #01497c;
    font-weight: 700;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-size: 3.5rem;
}

.name-container {
    margin: 45px auto;
}

.intro-h5 {
    margin: 7px 0 25px 0;
}

.intro-p {
    padding-right: 10px;
    margin-right: 5px;
    text-align: center;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-weight: 550;
    font-size: 16px;
    color: #000;
    max-width: 800px;
    line-height: 2.0;
}

.contact-button {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #01497c;
    margin-top: 30px;
}

.contact-button:hover,
.contact-button:focus,
.contact-button:active {
    background-color: #2a6f97;
}

.icon-container {
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.icon-container a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.icon-container a:hover {
    color: #000000;
}


@media screen and (max-width: 768px) {
    .intro-h1 {
        font-size: 2rem;
    }
}
