.NavBarComponent {
    background-color: #ffffff !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto;
}

.NavBarItem {
    color: #0096C7 !important;
    transition: color 0.3s ease;
    font-weight: 500 !important;
    padding: 0px 10px 10px 15px;
    transform-origin: center;
    font-feature-settings: "ss01";
    text-align: center;
}

.NavBarItem:hover {
    color: #0077B6 !important;
}

@media (max-width: 991px) {
    .navbar-toggler {
        position: absolute;
        left: 10px;
        top: 10px;
    }
}
