.NavBarComponent {
    background-color: #00b4d8 !important;
}

.NavBarItem {
    color: #caf0f8 !important;
    transition: color 0.3s ease;
    font-weight: normal;
    padding: 0 10px;
    transform-origin: center;
    font-variation-settings: "wght" 300;
    font-feature-settings: "ss01";
    text-align: center;
}

.NavBarItem:hover {
    transform: scale(1.04);
    color: #ffffff !important;
}

@media (max-width: 991px) {
    .NavBarItem {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
