.NavBarComponent {
    background-color: #00b4d8 !important;
}

.NavBarItem {
    color: #caf0f8 !important;
    transition: color 0.3s ease;
    font-weight: normal;
    padding: 0 10px;
    transform-origin: center;
    font-variation-settings: "wght" 300;
    font-feature-settings: "ss01";
}

.NavBarItem:hover {
    transform: scale(1.01);
    color: #ffffff !important;
}
